
.controls {
  @include clearfix;
  display: flex;
  justify-content: space-between;
  
  input[type=text] {
    width: 60%;
    background: 0;
    border: $base-border;
    padding: 0.75rem 2.5%;
  }

  .topic-selector {
    width: 20%;
    margin-bottom: 0;
  }

  .add-post {
    width: 14%;
    height: 3rem;

    .fa {
      font-size: 1.5rem;
    }
  }
}

.post {
  @include clearfix;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.75rem;

  .post-icon {
    position: relative;
    background-color: $orange;
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 1.5rem;

    i {
      position: absolute;
      top: 1.275rem;
      left: 1.2875rem;
      font-size: 2rem;
      color: #fff;
    }
  }

  .post-title {


    h1 {
      font-size: 2rem;
      font-weight: 300;
      font-color: $dark-gray;
      margin: 0;
    }
    .span {
      font-color: $medium-gray;
    }
  }

  .post-content {
    display: flex;
    background-color: #f1f1f1;
    padding: 2.5% 5% 0 5%;
    margin-top: 1rem;

    .ng-binding {
      line-height: 1.5rem;
    }
    .view-replies {
      width: 100%;
    }
  }
}