.reply-content {
  position: relative;
  width: 90%;
  margin-left: 10%;
  background: #f1f1f1;
  padding: rem(24) rem(26);

  .reply {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: rem(24);

    .reply-user {
      width: 10rem;
      margin-right: 1.5rem;
      text-align: center;

      img {
        border-radius: 100%;
        max-width: rem(48);
      }

      p {
        font-size: rem(12);
      }
    }
    .reply-info {
      background: #fbfbfb;
      padding: 1rem rem(20);
      @include clearfix;
      min-width: 85%;

      .reply-body {

        p {
          line-height: 1.5;
          margin: 0 0 1.5rem;
        }
      }

      .reply-time {
        float: left;
        color: $medium-gray;
      }

      .thumbs-up {
        float: right;
        color: $mid-blue;

        i {
          color: $mid-blue;
          margin-left: rem(8);
        }
      }
    }
  }

  .reply-wrapper {
    @include clearfix;

    input[type=text].reply-text {
      width: 90%;
      float: left;
      height: 3rem;
      margin: 0;
      border-radius: 0;
      box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);

      &:focus {
        outline: 0;
        border: none;
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.35);
      }
    }

    .reply-send {
      width: 10%;
      float: left;
      height: 3rem;
      background-color: $green;
      color: #fff;
      margin: 0;
      border-radius: 0;
    }

    .reply-char-count {
      margin-left: 0.5rem;
    }
  }

  &::after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 24px solid transparent;
    top: rem(-48);
    right: rem(48);
    z-index: 1;
    border-bottom-color: #f1f1f1;
  }
}
