<div class="board-wrapper">
  <section class="controls">
    <input type="text" placeholder="Search..." ng-model="searchText">
    <select class="topic-selector" ng-model="categoryFilter">
      <option class="all" value="">All</option>
      <option class="events" value="events">Events</option>
      <option class="jobs" value="jobs">Jobs</option>
      <option class="help" value="help">Help</option>
      <option class="announcements" value="announcements">Announcements</option>
      <option class="miscellaneous" value="miscellaneous">Miscellaneous</option>
    </select>
    <button class="add-post" ng-class="plusButton" ng-click="viewNewPostForm()"><i class="fa fa-plus"></i></button>
  </section>
  <section class="new-post-form" ng-show="showNewPostForm">
      <form name="create-post-form" ng-submit='addPost()'>
        <section class="new-form-controls">
          <input type="text" placeholder="Title" ng-model="newPost.title">
          <select class="topic-selector" ng-model="newPost.category">
            <option disabled selected>Topic</option>
            <option class="events" value="events">Events</option>
            <option class="jobs" value="jobs">Jobs</option>
            <option class="help" value="help">Help</option>
            <option class="announcements" value="announcements">Announcements</option>
            <option class="miscellaneous" value="miscellaneous">Miscellaneous</option>
          </select>
         </section>
         <div class="textarea-wrapper">
           <textarea cols="50" rows="10" maxlength="500" name="post.content" placeholder="Max 500 characters..." ng-model="newPost.content" ng-trim="false"></textarea>
           <small class="char-count">{{500 - newPost.content.length}} remaining</small>
         </div>
        <button type="submit" class="post-submit">Submit</button>
      </form>
  </section>
  <section class="posts">
    <article class="post" ng-repeat="post in posts | filter:searchText | filter:{category: categoryFilter}| orderBy:'-posted'">
      <div class="post-icon {{post.category}}">
        <i class="fa fa-{{catIcons[post.category]}}"></i>
      </div>
      <div class="post-title">
        <h1 ng-click="viewPost(post)">{{post.title}}</h1>
        <span>{{post.user}} | Posted <span am-time-ago='post.posted'></span> | {{post.replyCount}} replies | <span ng-click="heartUp(post)"><i class="fa fa-heart"></i> {{post.hearts}}</span></span>
      </div>
      <div class="post-content" ng-controller="PostCtrl" ng-show="post.content">
        <div class="inner-post-content">
          <p>{{post.content}}</p>
          <button class="view-replies" ng-click="viewReplies(post.id)">
            <span ng-if="activePost.showReplies">Hide</span>
            <span ng-if="!activePost.showReplies">View</span>
            Replies</button>
        </div>
      </div>
      <div class="reply-content" ng-controller="ReplyCtrl" ng-show="activePost.showReplies && activePost.id == post.id">
        <div class="reply" ng-repeat="reply in post.replies" ng-hide="!activePost.replies.length">
          <div class="reply-user">
            <img class="reply-user-image" src="http://placehold.it/160x160">
            <p>{{reply.user}}</p>
          </div>
          <div class="reply-info">
            <div class="reply-body">
              <p>{{reply.content}}</p>
            </div>
            <div class="reply-time">Posted <span am-time-ago='reply.created_at'></span></div>
            <div class="thumbs-up">{{reply.thumbs}}<span ng-click='upvote(reply)'><i class="fa fa-thumbs-up"></i></span></div>
          </div>
        </div>
        <div class="reply-wrapper">
          <form ng-submit="addReply()">
            <input class="reply-text" type="text" ng-model="newReply">
            <button type="submit" class="reply-send">Send</button>
          </form>
          <small class="reply-char-count" ng->{{255 - newReply.length}} remaining</small>
        </div>
      </div>
    </article>
  </section>
</div>
