<div class='container-fluid' ng-controller='createProfileCtrl'>
  <h4>Create your profile here</h4>
  <form ng-submit="submitProfile(!$inValid, data)" class="input-group" ng-init="data={}" name="createProfileForm">
    <input type="text" class="form-control" placeholder="First Name (required)" aria-describedby="basic-addon1" ng-model="data.firstName" required>
    <input type="text" class="form-control" placeholder="Last Name (required)" aria-describedby="basic-addon1" ng-model="data.lastName" required>
    <input type="text" class="form-control" placeholder="Github (required)" aria-describedby="basic-addon1" ng-model="data.github" required>
    <input type="text" class="form-control" placeholder="Email (required)" aria-describedby="basic-addon1" ng-model="data.email" required>
    <input type="text" class="form-control" placeholder="Location (required)" aria-describedby="basic-addon1" ng-model="data.location" required>

    <input type="text" class="form-control" placeholder="LinkedIn" aria-describedby="basic-addon1" ng-model="data.linkedin">
    <input type="text" class="form-control" placeholder="Blog" aria-describedby="basic-addon1" ng-model="data.blog">

    <input type="text" class="form-control" placeholder="About Me" aria-describedby="basic-addon1" ng-model="data.aboutme">
    <input type="text" class="form-control" placeholder="Employment Status" aria-describedby="basic-addon1" ng-model="data.status">

    <input type="text" class="form-control" placeholder="Companies" aria-describedby="basic-addon1" ng-model="data.companies">
    <input type="text" class="form-control" placeholder="Languages" aria-describedby="basic-addon1" ng-model="data.languages">

    <input type="text" class="form-control" placeholder="Project 1" aria-describedby="basic-addon1" ng-model="data.project1">
    <input type="text" class="form-control" placeholder="Project 2" aria-describedby="basic-addon1" ng-model="data.project2">
    <input type="text" class="form-control" placeholder="Project 3" aria-describedby="basic-addon1" ng-model="data.project3">
    <br/>

    <button type="submit" ng-disabled="createProfileForm.$inValid">Submit</button>
  </form>
</div>

