<div class='container-fluid' ng-controller='createProfileCtrl'>
  <p>create your profile here</p>
  <div class="input-group" ng-init="data={}">
    <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1" ng-model="data.firstName">
    <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1" ng-model="data.lastName">

    <input type="text" class="form-control" placeholder="Github" aria-describedby="basic-addon1" ng-model="data.github">
    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" ng-model="data.email">
    <input type="text" class="form-control" placeholder="LinkedIn" aria-describedby="basic-addon1" ng-model="data.linkedin">
    <input type="text" class="form-control" placeholder="Blog" aria-describedby="basic-addon1" ng-model="data.blog">

    <input type="text" class="form-control" placeholder="About Me" aria-describedby="basic-addon1" ng-model="data.aboutme">
    <input type="text" class="form-control" placeholder="Employment Status" aria-describedby="basic-addon1" ng-model="data.employmentStatus">
    <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1" ng-model="data.location">

    <input type="text" class="form-control" placeholder="Companies" aria-describedby="basic-addon1" ng-model="data.companies">
    <input type="text" class="form-control" placeholder="Languages" aria-describedby="basic-addon1" ng-model="data.languages">

    <input type="text" class="form-control" placeholder="Project 1" aria-describedby="basic-addon1" ng-model="data.project1">
    <input type="text" class="form-control" placeholder="Project 2" aria-describedby="basic-addon1" ng-model="data.project2">
    <input type="text" class="form-control" placeholder="Project 3" aria-describedby="basic-addon1" ng-model="data.project3">
    <br>

    <button ng-click="submitProfile(data)">Submit</button>

  </div>
</div>