<div class='container-fluid'>
  <p>create your profile here</p>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="LinkedIn" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="Blog" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="About Me" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="Project 1" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="Project 2" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="Project 3" aria-describedby="basic-addon1">
    <input type="text" class="form-control" placeholder="Employment Status" aria-describedby="basic-addon1">
  </div>
</div>