<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Hack Reactor Alumni</title>
    <link rel="stylesheet prefetch" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="intro white z-depth-1">
        <h4>Get access to Hack Reactor Alumni</h4>
        <h6>+ 500 Full stack developers. Find talent. Invest in Projects</h6>
        <br><br>
        <img class="responsive-img" src="https://avatars3.githubusercontent.com/u/10885262?v=3&s=84">
      </div>
  </body>

  <footer>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Link</a>
      </div>
    </div>
  </footer>

</html>
