<div id="new-post-content">
  <form name="create-post-form" ng-submit='addPost()'>
    <input type="text" placeholder="Title">
    <select class="topic-selector">
      <option class="events" disabled selected>Topic</option>
      <option class="events" value="events">Events</option>
      <option class="jobs" value="jobs">Jobs</option>
      <option class="miscellaneous" value="miscellaneous">Miscellaneous</option>
    </select><br>
    <textarea cols="50" rows="10" maxlength="500" name="post.content" placeholder="Add text...">
    </textarea><br>
    <button type="submit" class="submit-post">Submit</button>
  </form>
</div>