<div class="inner-post-content">
  <p>Dolor brunch try-hard, labore hashtag delectus bushwick tousled squid. Nesciunt ethical occupy literally fap, poutine VHS. DIY fugiat consectetur microdosing retro, aesthetic selvage occupy ugh. Pour-over shoreditch lomo, chartreuse neutra twee PBR&amp;B scenester. Id keytar distillery magna, wayfarers pug sustainable farm-to-table XOXO meditation fingerstache retro esse. Vinyl magna chambray, deserunt vero marfa paleo kombucha master cleanse. Culpa chia crucifix twee.</p>
  <button class="view-replies"></button>
  <button class="collapse-message"></button>
</div>
<div class="reply-content" ui-view="board.post.reply"></div>