<div class="container" ng-controller="profilesCtrl">
    <div class="row">
        <div class="s12 col">
            <h3>Profiles</h3>
            <br>
            <form class="forms forms-inline input-field ">
                <input type="text" class="input-big width-50" id="query" ng-model="query">
                <label for="query">Filter</label>
            </form>
            <ul class="collection">
                <li class="collection-item avatar animated fadeInUp" style="-webkit-animation-duration:{{$index * 300}}ms" ng-repeat="profile in profiles | filter:query">
                    <a href="" ng-click="modalDetails(profile)" class="modal-trigger title"><img ng-src="{{profile.contact.profilePic}}" alt="" class="circle"> {{profile.contact.name}}</a>
                    <p>{{profile.contact.location}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="modalDetails" class="modal modal-fixed-footer" ng-controller="profilesCtrl">
        <div class="modal-content">
            <div class="row">
                <div class="l2 col">
                </div>
                <div class="l10 col">
                    <img style="margin: 10px" height="150px" width="auto" ng-src="{{profile.contact.profilePic}}" alt="" class="align-center circle">

                    <h5>{{profile.contact.name}}</h5>
                    <label>Email</label> {{profile.contact.email}}<br/>
                    <label>Languages</label> {{profile.experience.languages}} <br/>
                    <label>Location</label> {{profile.contact.location}} <br/>
                    <hr>
                    <label>Companies</label> {{profile.experience.companies}}<br/>
                    <label>Blog</label> {{profile.links.blog}} <br/>
                    <label>LinkedIn</label> {{profile.links.linkedin}} <br/>
                    <hr>
                    <label>Employment Status</label> {{profile.about.status}} <br/>
                    <label>About Me</label> {{profile.about.summary}} <br/>
                </div>
            </div>
        </div>
        <div class="modal-footer"><a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a></div>
    </div>
</div>

