<div ng-controller="profileCtrl">
    <div class="">
        <h4>{{currentProfile.contact.name}}</h4>

        <div class="center-align">
            <img  height="200px" width="auto" ng-src="{{profile.contact.profilePic}}" > <br>
        </div>
        <p>
            Location: {{currentProfile.contact.location}} <br>
        </p>
        <p>
            Summary: {{currentProfile.about.summary}} <br>
        </p>
        <p>
            Employment Status: {{currentProfile.about.status}} <br>
        </p>
        <p>
            Companies: {{currentProfile.experience.companies}} <br>
        </p>
        <p>
            Languages: {{currentProfile.experience.languages}} <br>
        </p>
        <p>
            LinkedIn: {{currentProfile.links.linkedin}} <br>
        </p>
        <p>
            Email: {{currentProfile.contact.email}} <br>
        </p>
        <p>
            Blog: {{currentProfile.links.blog}} <br>
        </p>
        <p>
            Project 1: {{currentProfile.projects.project1}} <br>
        </p>
        <p>
            Project 2: {{currentProfile.projects.project2}} <br>
        </p>
        <p>
            Project 3: {{currentProfile.projects.project3}} <br>
        </p>



    </div>
</div>