<div class="reply-content">
  <div class="reply" ng-repeat="reply in replies">
    <div class="reply-user">
      <img class="reply-user-image" src="">
      <p>{{user}}</p>
    </div>
    <div class="reply-info">
      <div class="reply-body">
        <p>{{content}}</p>
      </div>
      <div class="reply-time">Posted {{posted}}</div>
      <div class="thumbs-up">{{thumbs}}<i class="fa fa-thumbs-up"></i></div>
    </div>
  </div>
  <div class="reply-wrapper">
    <form>
      <input class="reply-text" type="text">
      <button type="submit" class="reply-send"></button>
    </form>
  </div>
</div>