<div class="reply-content">
  <div class="reply-user">
    <img class="reply-user-image" src="">
    <p>First Lastname</p>
  </div>
  <div class="reply-info">
    <div class="reply-body">
      <p>Post-ironic banjo pork belly mixtape distillery, tousled officia biodiesel odio fixie. Williamsburg etsy ut, lomo VHS polaroid dolore iPhone kitsch.</p>
    </div>
    <div class="reply-time">Posted 8 min ago</div>
    <div class="thumbs-up"><i class="fa fa-thumbs-up"></i></div>
  </div>
  <div class="reply-wrapper">
    <form>
      <input class="reply-text" type="text">
      <button type="submit" class="reply-send"></button>
    </form>
  </div>
</div>